.evaluation-bar {
  width: 40px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 300px;
}

@media (max-width: 600px) {
  .evaluation-bar {
    height: 330px;
    width: 26px;
  }
}

@media (min-width: 960px) {
  .evaluation-bar {
    height: 600px;
    width: 60px;
  }
}

.evaluation-section {
  width: 100%;
  transition: height 0.3s ease; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.black-section {
  background-color: black;
  color: white; 
  position: relative;
}

.white-section {
  background-color: white;
  color: black; 
  position: relative;
}

.evaluation-value {
  position: absolute;
  bottom: 5px; 
}

.black-section .evaluation-value {
  top: 5px; 

}
